<h1>This is page for new User</h1>
<div>
  <%= form_for :user, url: '/users' do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br />
      <%= f.label :surname %>
      <%= f.text_field :surname %>
      <br />
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br />
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br/>
      <%= f.label :password %>
      <%= f.password_field  :password %>
      <br/>
      <%= f.submit 'Create profile' %>
  <% end %>
</div>

