<h1>Edit event</h1>
<div>
  <%= form_for(@event) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br /><br />
      <%= f.label :description %>
      <%= f.text_area :description %>
      <br/><br/>
      <%= f.label :image %>
      <%= f.text_field :image %>
      <br /><br />
      <%= f.label :date %>
      <%= f.text_field :date %>
      <br />
      <%= f.submit 'Save' %>
  <% end %>
</div>